@import '../variables.scss';

.cart {

    margin: 0;
    padding: 0;

    width: 100%;

    @media (max-width: $tablet-width) {
        height: 100%;
    }

    &__item {
        font-family: 'Roboto';

        background-color: $main_color_bg_blocks;
        box-shadow: 1px 2px 7px rgba(0,0,0,0.13);

        border-radius: 8px;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        @media (max-width: $tablet-width) {
            margin: 0 auto;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;

            font-size: 10px;

            width: 92%;
        }

        @media (min-width: $tablet-width) {
            width: 85%;
        }

        @media (min-width: $desktop-width) {
            align-items: center;

            margin: 0 auto;
            margin-top: 20px;
            padding-top: 15px;
            padding-bottom: 15px;

            font-size: 20px;

            width: 70%;
        }
    }

    &__image {
        
        & img {
            border-radius: 8px;

            @media (max-width: $tablet-width) {
                width: 80px;
                height: 60px;

                margin-left: 10px;
            }

            @media (min-width: $tablet-width) {
                width: 150px;
                height: 90px;

                margin-left: 15px;
            }
        }
    }

    &__info-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
        
        @media (max-width: $tablet-width) {
            margin-left: 15px;
        }

        @media (min-width: $desktop-width) {
            margin-left: 20px;

            width: 41vw;
        }
    }

    &__image-info-wrapper {
            display: flex;

            @media (min-width: $tablet-width) {
                height: 100%;
            }
    }

    &__buttons {

        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        @media (max-width: $tablet-width) {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            margin-right: 10px;
        }

        @media (min-width: $tablet-width) {
            justify-content: space-around;
            align-items: center;
        }

        @media (min-width: $desktop-width) {
            margin-right: 15px;
        }

        &_counter-buttons {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            height: 20px;

            @media (min-width: $desktop-width) {
                margin-right: 30px;
            }
        }

        &_delete {
            
            width: 25px;
            height: 25px;
            border: none;
            background-color: transparent;

            @media (min-width: $desktop-width) {
                order: 1;
            }

            & svg path {
                fill:$additional_color_bg_font;
            }

            &:active {
                opacity: 0.4;
            }
        }
    }

    &__counter-button {
        text-align: center;

        width: 20px;
        height: 20px;

        font-size: 13px;
        font-weight: 900;
        color: $additional_color_bg_font;

        border: 2px solid $additional_color_bg_font;
        border-radius: 50px;

        background-color: transparent;

        &:active {
            background: $additional_color_bg_font;
            
            color: white;
        }
    }

    &__product-count {
        font-size: 18px;
        font-weight: 600;
        color: $additional_color_bg_font;

        padding: 0 4px;

        @media (min-width: $tablet-width) {
            padding: 0 18px;
        }
    }

    &__product-name {
        font-size: 14px;
        font-weight: 700;

        @media (max-width: $tablet-width) {
            width: 21vh;
        }

        @media (min-width: $tablet-width) {
            font-size: 24px;

            width: 37vh;
        }

        @media (min-width: $desktop-width) {
            font-size: 24px;
            line-height: 19px;
        }
    }

    &__product-weight {
        font-weight: 300;

        @media (min-width: $tablet-width) {
            font-size: 12px;

            margin-top: 9px;
            margin-bottom: 8px;
        }
    }

    &__total-price {
        background-color: rgba(252, 108, 27, 0.3);

        border-radius: 4px;

        width: max-content;

        @media (max-width: $tablet-width) {
            font-weight: 600;
            font-size: 14px;

            padding: 0 3px;
        }

        @media (min-width: $tablet-width) {
            height: min-content;

            font-size: 34px;
            font-weight: 900;

            padding: 0 6px;
        }
    }

    &__empty {
        text-align: center;

        position: absolute;

        @media (max-width: $tablet-width) {
            left: 50%;
            width: 75%;
            margin-left: -37.5%;
        }

        &-wrapper {
            @media (max-width: $tablet-width) {
                position: relative;
                margin-top: 20px;
            }
        }

        &-title {
            @media (max-width: $tablet-width) {
                font-size: 20px;
                font-weight: 700;
            }
        }

        &-img {
            @media (max-width: $tablet-width) {
                margin-top: 10px;
            }
        }

        &-text {
            font-size: 14px;
            font-weight: 300;
        }

        &-btn-back {
            cursor: pointer;

            &:active {
                background-color: $additional_color_bg_font;
            }

            @media (max-width: $tablet-width) {
                margin-top: 10px;

                padding: 10px 18px;

                border-radius: 50px;
                border: none;

                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                color: white;

                background-color: black;
            }
        }
    }
}