@import '../variables';

.categories {

    box-shadow: 0px 8px 9px -6px rgba(34, 60, 80, 0.18);

    @media (max-width: $tablet-width) {
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    background-color: $additional_color_bg_font;

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;

        padding-top: 18px;

        width: max-content;
    }

    &__list-item {

        margin-left: 20px;

        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        
        &:last-child {
            margin-right: 35px;
        }

        &_active {
            color: white;
        }
    }
}