@import '../variables';

.categories {

    box-shadow: 0px 8px 9px -6px rgba(34, 60, 80, 0.18);

    position: sticky;
    top: -1px;
    
    z-index: 10;

    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        width: 0;
    }

    background-color: $additional_color_bg_font;

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        margin-top: 18px;
        margin-bottom: 18px;

        width: max-content;
    }

    &__list-item {

        cursor: pointer;

        @media (max-width: $tablet-intermediate-width) {
            margin-left: 20px;

            font-size: 22px;
            line-height: 22px;
            font-weight: 700;
        }

        @media (min-width: $desktop-width) {
            margin-left: 55px;

            font-size: 24px;
            line-height: 24px;
            font-weight: 900;
        }
        
        &:last-child {
            margin-right: 35px;
        }

        &_active {
            color: white;
        }
    }
}