@import '../variables';

.discounts-bunners {

    position: relative;
    background-color: $main_color_bg_blocks;

    &__swiper {
        box-sizing: border-box;
        max-width: 100%;
    }

    &__bunner-mob {
        width: 100%;
        height: 100%;

        @media (min-width: $tablet-width) {
            height: 14.2em;
        }

        @media (min-width: $desktop-width) {
            display: none;
        }
    }

    &__bunner-desktop {

        width: 100vw;
        height: auto;

        @media (max-width: $tablet-intermediate-width) {
            display: none;
        }

        @media (max-width: $mobile-width-only) {
            display: none;
        }
    }

    &__bunner-item {
        height: min-content;
    }

    &__toggles {

        margin: 0 auto;

        &-wrapper {
            width: 100%;
            height: min-content;

            position: absolute;
            bottom: 10px;
        }

        width: min-content;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__toggle {
        list-style: none;

        margin-left: 5px;
        margin-right: 5px;

		width: 10px;
		height: 10px;

        border-radius: 50%;
        border: 2px solid $main_color_bg_blocks;
        background-color: transparent;

        @media (min-width: $desktop-width) {
            margin-left: 10px;
            margin-right: 10px;

            width: 20px;
            height: 20px;

            border: 3px solid $main_color_bg_blocks;
        }

        &_current {
            width: 14px;
            height: 14px;

            border: -4px solid $main_color_bg_blocks;
            background-color: $additional_color_bg_font;

            @media (min-width: $desktop-width) {
                width: 28px;
                height: 28px;

                border: -2px solid $main_color_bg_blocks;
            }
        }
    }
}