@import '../variables';

.filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;

    background-color: $product-list-block_bg;

    @media (max-width: $tablet-width) {
        height: 70px;

        &__text {
            font-size: 14px;
            font-weight: 500;
        }
    }

    @media (min-width: $desktop-width) {

        padding-right: 35px;

        background-color: transparent;

        &__text {
            font-size: 24px;
            font-weight: 400;
        }

        &__icon {
            order: 2;

            margin-left: 25px;
        }

        &__arrow {
            display: none;
        }
    }
}