@import '../variables';

.footer {

    @media (max-width: $tablet-intermediate-width) {

        position: fixed;
        bottom: 0;
        z-index: 3;

        overflow-y: auto;

        height: 70px;
        width: 100%;

        background: $main_color_bg_blocks;

        box-shadow: 0px 8px 9px 6px rgba(34, 60, 80, 0.18);

        &__mobile-block {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding-left: 20px;
            padding-right: 30px;
            padding-top: 15px;
        }

        &_closed {
            content: "";
            position: relative;
            
            width: 35px;
            height: 3px;
            background-color: $additional_color_bg_font;
            box-shadow: 0 -11px 0 0 $additional_color_bg_font,
                        0 11px 0 0 $additional_color_bg_font;

            &:active {
                opacity: 0.3;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: -15px;
                left: -15px;
                right: -15px;
                bottom: -15px;
                background: transparent;
            }
        }

        &_open {
            position: relative;;
            bottom: 2px;

            width: 45px;
            height: 38px;
            
            &::before, &::after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 44px;
                width: 3px;
                background-color: $additional_color_bg_font;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }

            &:active {
                opacity: 0.3;
            }
        }

        &__other-info {
            display: none;
        }

        &__line {
            display: none;
        }
    
        &__social {
            display: none;
        }

        &__cart-button-wrapper {
            width: 40px;
            height: 39px;
        }

    }

    @media (min-width: $desktop-width) {
        width: 100%;

        background: #000;

        margin-top: 15px;

        * {
            font-size: 18px;
            color: white;
        }

        &__other-info {
            display: flex;
            justify-content: space-between;

            margin-bottom: 30px;

            &-logo {
                display: flex;

                &-text {
                    margin-left: 15px;
                    margin-top: 26px;
                }

                &-img {
                    width: 35px;
                    height: 35px;

                    margin-left: 30px;
                    margin-top: 21px;
                }
            }

            &-blocks {
                margin-top: 26px;

                &-item {
                    margin-top: 15px;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            &-about-site {
                margin-right: 30px;
            }
        }

        &__social {
            display: flex;
            align-items: center;
            justify-content: space-around;

            padding-top: 15px;
            padding-bottom: 40px;
        }

        &__social-list {
            display: flex;
        }

        &__social-item {
            padding-left: 21px;
            padding-right: 21px;
        }

        &__line {

            width: 70%;

            margin: 0 auto;
            height: 2px;
            opacity: .5;
        }

        &__cart-button-wrapper {
            display: none;
        }
    }
}