@import '../_variables';

.header {
    width: 100%;
    height: min-content;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: $main_color_bg_blocks;

    @media (max-width: $mobile-width-only) {
        padding-top: 7px;
        padding-bottom: 8px;
    }

    &__wrapper {
        margin: 0;
        padding: 0;
    }

    &__logo-wrapper {
        margin: 0;
        padding: 0;
    
        @media (max-width: $mobile-width-only) {
            margin-left: 15px;
        }
    }

    &__phone-wrapper {
        margin: 0;
        padding: 0;
    
        height: min-content;
    
        display: flex;
    }

    &__phone-label {
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 900;
    
        height: min-content;
    
        margin-bottom: 2px;
    }

    &__phone {
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 900;
        color: red;
    }

    &__phone-text-block {
        @media (max-width: $mobile-width-only) {
            margin-left: 8px;
            margin-right: 25px;
        }
    }

    &__cart-button {

        @media (max-width: $tablet-width) {
            display: none;
        }
    }
}