@import '../variables';

.home {

    @media (min-width: $tablet-width) {
        &__filters-select-category-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__filters-wrapper {

            width: 100%;
            order: 1;
        }

        &__selected-category-wrapper {

            width: 100%;
        }

        &__banners-information-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $main_color_bg_blocks;
        }

        &__banners-wrapper {
            width: 50%;
            height: 100%;
        }

        &__information-wrapper {
            width: 50%;
            height: auto;
        }
    }

    @media (min-width: $desktop-width) {

        &__filters-select-category-wrapper {
            display: flex;
            justify-content: space-between;

            background-color: $product-list-block_bg;
        }

        &__filters-wrapper {

            width: max-content;
            order: 1;
        }

        &__selected-category-wrapper {

            width: max-content;
        }
    }
}