@import '../variables.scss';

.privacy-policy-page {

    margin: 0;
    padding: 0;

    width: 100%;

    @media (max-width: $tablet-intermediate-width) {
        height: max-content;
    }

    @media (min-width: $desktop-width) {
        height: max-content;
    }

    background-color: $product-list-block_bg;

    &__title {
        margin-bottom: 25px;

        font-size: 25px;
        font-family: 'Pusia';
        font-weight: 700;

        @media (min-width: $desktop-width) {
            font-size: 36px;
        }
    }

    &__text {
        margin: 0 auto;
        margin-top: 30px;

        background: $main_color_bg_blocks;
        border-radius: 10px;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

        font-size: 15px;

        & p {
            text-align: justify;
            margin-top: 10px;
        }

        @media (max-width: $tablet-intermediate-width) {
            padding: 20px 15px;

            width: 95%;
            height: 100%;
        }

        @media (min-width: $desktop-width) {
            padding: 20px 30px;

            width: 94%;
            height: 100%;
        }
    }

    &__btn-back-wrapper {
        width: 100vw;

        margin-top: 25px;
        margin-bottom: 30px;

        text-align: center;
    }
}