@import '../variables';

.product-list-block {

    background-color: $product-list-block_bg;

    padding-top: 10px;
    padding-bottom: 20px;

    &__list {
        @media (min-width: $tablet-width) {
            display: flex;
            flex-wrap: wrap;
        }

        &-wrapper {
            width: 100%;
        }
    }

    &__item {
        @media (min-width: $tablet-width) {
            width: 50%;
        }
    }
}