//colors
$product-list-block_bg: #F9F9F2;
$main_color_bg_blocks: #FFFFF8;
$additional_color_bg_font: #FC6C1B;
$main_font_color: #000000;

// viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;