@import './libs/_normalize.scss';
@import './global.scss';
@import '_fonts.scss';
@import '_variables.scss';

@import 'components_styles/main.scss';

.app {

    position: relative;

    width: 100%;

    background-color: $product-list-block_bg;

    @media (min-width: $desktop-width) {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__route-pages {
        background-color: $product-list-block_bg;
    }

    @media (max-width: $tablet-width) {
        &__empty-block {
            background: transparent;
            height: 90px;
        }
    }

    @media (min-width: $desktop-width) {
        &__empty-block {
            display: none;
        }
    }
}